__pycache__
*csv
*npy
*pkl
*pdf
*.egg-info
.cache
/.vscode
.pytest_cache

# Project config
*sublime*

# Binaries
dicod/c_dicod/c_dicod
dicod/c_dicod/start_worker

# Save experiences
save_exp

# Config files
hostfile
