__pycache__
*csv
*npy
*pkl
*pdf
.*
*egg*
*ipynb

# Project config
*sublime*

# Binaries
/cdl/c_dicod/c_dicod
/cdl/c_dicod/start_worker

# Archives
/cdl/old_cdl/

# Save experiences
/save_exp

# Config files
hostfile
